<?xml version="1.0" encoding="UTF-8"?>
<suite name="Yahoo">
    
    <test name= "Yahoo Mail Test">
      <classes>
         <class name= "test.YahooTest"></class>
      </classes>
    </test>
    
     <test name= "Yahoo News Test">
      <classes>
         <class name= "test.YahooNewsTest"></class>
      </classes>
    </test>
    
    <test name= "Yahoo Register Test">
      <classes>
         <class name= "test.YahooRegistrationTest"></class>
      </classes>
    </test>

</suite>